// colors
$white: #FAFAFA;
$vermilion: #E53D46;
$indigo: #42378A;
$lime: #8CC63F;

// numbers
// $container-width: 280px; // to 360px (sp-small)
$container-width: 320px; // to 480px (sp-large)
// (tablet)
// (pc-small)
// (pc-large)
